.main_container {
  background: #f5feff;
}

:global(html[data-theme="dark"]) .main_container {
  background: #0f0f0f;
}

.about_section {
  width: min(100%, 38rem);
  margin: 0 auto;
  text-align: left;
}

.ol_styles ol {
  list-style-type: circle;
  text-align: left;
  margin: 0;
  padding-left: 20px;
  max-width: none;
  list-style-position: outside;
}

@media (min-width: 768px) {
  .about_section {
    margin-left: auto;
    margin-right: 0;
  }
}

.subheaders {
  font-size: large;
  font-weight: 600;
  background: -webkit-linear-gradient(#020024, #04b5d9);
  background: linear-gradient(#020024, #04b5d9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-left: 0;
  margin-bottom: 2px;
}

:global(html[data-theme="dark"]) .subheaders {
  font-weight: 600;
  background: -webkit-linear-gradient(#c0bfce, #04b5d9);
  background: linear-gradient(#c0bfce, #04b5d9);  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-left: 0;
  margin-bottom: 2px;

}

@media (min-width: 768px) {
  .subheaders {
    font-size: x-large;
  }
}

li {
  font-size: medium;
}

@media (min-width: 768px) {
  li {
    font-size: large;
  }
}
