.main_container {
  background: #f5feff;
}

.ol_styles ol {
  list-style-type: circle;
  text-align: left;
  margin: 0 auto;
  padding-left: 20px;
  max-width: fit-content;
  list-style-position: outside;
  margin-left: calc(50% - 200px);
}

@media (min-width: 768px) {
  .ol_styles ol {
    margin-left: calc(50% - 250px);
    margin-right: 0;
    max-width: none;
  }
}

.subheaders {
  font-size: large;
  font-weight: 600;
  background: -webkit-linear-gradient(#020024, #04b5d9);
  background: linear-gradient(#020024, #04b5d9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-left: calc(50% - 200px);
}

@media (min-width: 768px) {
  .subheaders {
    font-size: x-large;
    margin-left: calc(50% - 250px);
  }
}

li {
  font-size: medium;
}

@media (min-width: 768px) {
  li {
    font-size: large;
  }
}
