.main_container {
  background: #f5feff;
}

:global(html[data-theme="dark"]) .main_container {
  background: #16263d;
}

.role {
  font-weight: 600;
}

.company {
  font-weight: 400;
}

.date {
  color: #8690aa;
}

.header {
  font-size: xx-large;
  font-weight: 700;
  text-align: left;
  background: -webkit-linear-gradient(#020024, #04b5d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.experience_container {
  background: rgba(203, 232, 248, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(159, 222, 255, 0.14);
  padding: 20px;
}

.tech_item {
  border-radius: 12px;
  border: 1px solid rgba(8, 85, 124, 1);
  padding: 4px 8px;
  background: -webkit-linear-gradient(#020024, #04b5d9);
  background: linear-gradient(#020024, #04b5d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  flex-shrink: 0;
}

:global(html[data-theme="dark"]) .tech_item {
  border: 1px solid rgba(138, 205, 255, 0.75);
  background: transparent;
  -webkit-text-fill-color: #c7ecff;
}

@media (min-width: 768px) {
  .tech_item {
    border-radius: 16px;
    padding: 3px 10px;
  }
}
