.role {
  font-weight: 600;
}

.company {
  font-weight: 400;
}

.date {
  color: #8690aa;
}

.header {
  font-size: xx-large;
  font-weight: 700;
  text-align: left;
  background: -webkit-linear-gradient(#020024, #04b5d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
