.footer_background {
  background: #f5feff;
  background: -webkit-linear-gradient(
    180deg,
    rgba(245, 254, 255, 1) 0%,
    rgba(171, 249, 255, 1) 71%,
    rgba(161, 239, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(245, 254, 255, 1) 0%,
    rgba(171, 249, 255, 1) 71%,
    rgba(161, 239, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(245, 254, 255, 1) 0%,
    rgba(171, 249, 255, 1) 71%,
    rgba(161, 239, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F5FEFF", endColorstr="#A1EFFF", GradientType=0);
}

:global(html[data-theme="dark"]) .footer_background {
  background: linear-gradient(180deg, #0a1321 0%, #0b1c30 75%, #0f243d 100%);
}
