.gradientBg {
  background: #f5feff;
  background: -webkit-linear-gradient(
    0deg,
    rgba(245, 254, 255, 1) 0%,
    rgba(171, 249, 255, 1) 71%,
    rgba(161, 239, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(245, 254, 255, 1) 0%,
    rgba(171, 249, 255, 1) 71%,
    rgba(161, 239, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(245, 254, 255, 1) 0%,
    rgba(171, 249, 255, 1) 71%,
    rgba(161, 239, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F5FEFF", endColorstr="#A1EFFF", GradientType=0);
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

:global(html[data-theme="dark"]) .gradientBg {
  background: linear-gradient(0deg, #0f0f0f 0%, #0f0f0f 65%, #0f0f0f 100%);
}

:global(html[data-theme="dark"]) .nameHeader {
  font-weight: 400;
  background: -webkit-linear-gradient(#c0bfce, #04b5d9);
  background: linear-gradient(#c0bfce, #04b5d9);  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-left: 0;
  margin-bottom: 2px;
}
