.main_container {
  background: #f5feff;
}

:global(html[data-theme="dark"]) .main_container {
  background: #0a1321;
}

.header {
  font-size: xx-large;
  font-weight: 700;
  text-align: left;
  background: -webkit-linear-gradient(#020024, #04b5d9);
  background: linear-gradient(#020024, #04b5d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.project_item {
  background: rgba(203, 232, 248, 0.62);
  border-radius: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 3px solid rgba(8, 85, 124, 0.24);
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .project_item {
    padding: 20px;
  }
}

.tech_item {
  border-radius: 12px;
  border: 1px solid rgba(8, 85, 124, 1);
  padding: 4px 8px;
  background: -webkit-linear-gradient(#020024, #04b5d9);
  background: linear-gradient(#020024, #04b5d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .tech_item {
    border-radius: 16px;
    padding: 3px 10px;
  }
}

.title {
  font-weight: 700;
  text-align: left;
  background: -webkit-linear-gradient(#020024, #04b5d9);
  background: linear-gradient(#020024, #04b5d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
