@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

* {
  font-family: "Protest Strike", sans-serif;
  background-color: #012a4a;
  color: #a9d6e5;
}

/* Navbar */

.navbar {
  padding: 20;
  display: flex;
  align-items: center;
  max-width: 100;
  margin: 0 auto;
  border-bottom: 1px solid #01497c;
}

.navbar h1 {
  color: #a9d6e5;
}

.navbar .links {
  color: #a9d6e5;
  margin-left: auto;
  transform: scale(1.25);
}

.navbar a {
  color: #a9d6e5;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  justify-content: center;
}

.navbar a:hover {
  color: #01497c;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

/* Home */
.home-container {
  margin-top: 5%;
}

.home-title {
  font-size: 448px;
}

.lead {
  color: #61a5c2;
}

.zoomable-image {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  max-width: 100%;
  max-height: 400px;
}

.zoomable-image:hover {
  transform: scale(1.1);
}

/* Type */
.typewriter-text span {
  font-size: 24px;
  color: #61a5c2;
}

/* Highlight cursor */

.highlight-cursor {
  position: fixed;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: lighten;
  filter: blur(40px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.highlight-cursor:hover {
  animation: pulse 0.5s infinite;
}

/* Personal Info Page */
.btn-container {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pi-btn {
  margin-left: 5px;
  margin-right: 5px;
  border: solid 1px #61a5c2;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.pi-btn:hover {
  background-color: #01497c;
  color: #a9d6e5;
  transform: scale(1.1);
}

.pi-btn.active {
  background-color: #a9d6e5;
  color: #01497c; /* Highlight the active button with a different color */
}

.pi-title {
  font-size: 40px;
  margin-top: 2%;
  margin-bottom: 10px;
  color: #61a5c2;
  text-align: center;
}

/* About Section */
.about {
  max-width: 800px;
  margin: 0 auto;

  padding: 20px;
  text-align: center;
}

.about-title {
  font-size: 40px;
  margin-bottom: 10px;
  color: #61a5c2;
}

.about-body {
  font-size: 18px;
  line-height: 1.5;
}

/* Work Experience */
.workExperience {
  max-width: 800px;
  margin: 0 auto;

  padding: 20px;
}

.workList {
  margin: 0 auto;
  margin-top: 3%;
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
}

.workList h4,
.workList p {
  margin: 10px 0;
}

.companyName {
  color: #61a5c2;
}

.swe-role {
  font-style: italic;
}

/* Education */
.educationList {
  margin: 0 auto;
  margin-top: 3%;
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
}

.educationList li {
  list-style: none;
}

.degree {
  font-style: italic;
}

.schoolname {
  color: #61a5c2;
}

/* Projects */

.projects {
  margin-top: 10%;
}

.project-headtitle {
  margin-bottom: 2%;
  color: #61a5c2;
  text-align: center;
}

.project-title {
  color: #a9d6e5;
  font-style: italic;
  text-decoration: underline;
}

.project-body {
  color: #61a5c2;
}

.card-link {
  text-decoration: none;
}

.card-img-container {
  height: 200px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card:hover {
  transform: scale(1.05);
}

/* Contact */

.contact {
  margin-top: 15%;
  margin-bottom: 10%;
}

.contact-header {
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.contact-header h2 {
  font-size: 70px;
}

.contact-header p {
  color: #61a5c2;
  font-size: 30px;
}

.email p {
  font-size: 60px;
  color: #a9d6e5;
}

.social-header {
  text-decoration: underline;
}

.bi {
  font-size: 60px;
}

.list-inline-item.social {
  margin-right: 10px;
}

.list-inline-item.social a {
  text-decoration: none;
  color: inherit;
}

.list-inline-item.social a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact {
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .contact-header h2 {
    font-size: 40px;
  }

  .contact-header p {
    font-size: 20px;
  }

  .email p {
    font-size: 30px;
  }

  .bi {
    font-size: 40px;
  }

  .list-inline-item.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; /* Add some space between icons */
  }

  .list-inline-item.social a {
    font-size: 20px;
  }
}

/* Footer */

.footer {
  text-align: center;
  color: #a9d6e5;
}

.footer .text-muted {
  color: #a9d6e5 !important;
}

.footer-container {
  columns: #a9d6e5;
}
