@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "EB Garamond", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #030504;
  color: #6ee2ffff;
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
button,
a {
  font-family: "EB Garamond", serif;
}

/* Custom utility class for hiding scrollbars */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
