@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

* {
  font-family: "Protest Strike", sans-serif;
  background-color: #FFFFFF;
  color: #333333;
}

/* Navbar */
.navbar-transparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0; 
}

/* Styling for the main bubble */
.bubble {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff; 
  color: #000; 
  padding: 10px 20px;
  border-radius: 50px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  z-index: 1010; 
  text-align: center; 
  line-height: 1.2;
}

/* Bubble hover effect */
.bubble:hover {
  transform: translateX(-50%) scale(1.1);
}

/* Dropdown menu styling */
.dropdown-menu-bubble {
  position: absolute;
  top: 70px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out; 
  z-index: 1000; 
  background-color: transparent; 
  padding: 0;
  margin: 0; 
  border: none; 
}

/* Show dropdown menu */
.dropdown-menu-bubble.show {
  opacity: 1;
  pointer-events: auto;
}

/* Container for the bubble items */
.bubble-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  padding: 0;
  margin: 0;
}

/* Bubble items in the dropdown menu */
.bubble-item {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: #ffffff; 
  color: #000; 
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
  text-align: center;
  white-space: nowrap; 
  border: none; 
  margin: 0; 
  width: 90px; 
  height: 40px; 
  line-height: 1.2; 
}

/* Hover effect for dropdown bubbles */
.bubble-item:hover {
  transform: scale(1.05);
}

/* Additional reset styles */
.bubble-container,
.dropdown-menu-bubble {
  background-color: transparent !important; 
}

/* Home */
.home-container {
  margin-top: 2%;
}

.home-title {
  font-size: 448px;
}

.home-title-small {
  color: #333333;
  font-size: 300px;
}

.zoomable-image {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  max-width: 100%;
  max-height: 550px;
  border-radius: 20px;
}


/* Type */
.typewriter-text span {
  font-size: 24px;
  color: #333333;
}

/* Highlight cursor */

.highlight-cursor {
  position: fixed;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: lighten;
  filter: blur(40px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.highlight-cursor:hover {
  animation: pulse 0.5s infinite;
}

/* Personal Info Page */
.btn-container {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pi-btn {
  margin-left: 5px;
  margin-right: 5px;
  border: solid 1px #333333;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.pi-btn:hover {
  background-color: #706C61;
  border-color: #706C61;
  color: #FFFFFF;
  transform: scale(1.1);
}

.pi-btn.active {
  background-color: #706C61;
  border-color: #706C61;
  color: #FFFFFF; 
}

.pi-title {
  font-size: 40px;
  margin-top: 2%;
  margin-bottom: 10px;
  color: #333333;
  text-align: center;
}

/* About Section */
.about {
  max-width: 800px;
  margin: 0 auto;

  padding: 20px;
  text-align: center;
}

.about-title {
  font-size: 40px;
  margin-bottom: 10px;
  color: #333333;
}

.about-body {
  font-size: 18px;
  line-height: 1.5;
}

.bold-word {
  font-size: larger;
  font-style: italic;
  font-weight: bold;
  color: #000;
}

/* Work Experience */
.workExperience {
  max-width: 800px;
  margin: 0 auto;

  padding: 20px;
}

.workList {
  margin: 0 auto;
  margin-top: 3%;
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
}

.workList h4,
.workList p {
  margin: 10px 0;
}

.companyName {
  color: #706C61;
}

.swe-role {
  font-style: italic;
}

/* Education */
.educationList {
  margin: 0 auto;
  margin-top: 3%;
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
}

.educationList li {
  list-style: none;
}

.degree {
  font-style: italic;
}

.schoolname {
  color: #706C61;
}

/* Skills */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.skill-list {
  margin: 0 auto;
  margin-top: 3%;
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
}

.skill-header {
  color: #706C61;
}

/* Projects */
.projects {
  margin-top: 10%;
  padding: 0 10px;
}

.project-headtitle {
  margin-bottom: 2%;
  color: #333333;
  text-align: center;
  font-size: 1.8rem;
}

.project-title {
  color: #333333;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.2rem;
}

.project-body {
  color: #000;
  font-size: 1rem;
}

.card-link {
  text-decoration: none;
}

.card-img-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  border: 2px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
  margin: 10px;
}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.slick-prev,
.slick-next {
  color: #61a5c2;
  z-index: 1;
}

@media (max-width: 768px) {
  .projects {
    margin-top: 5%;
  }

  .card-img-container {
    height: 150px;
  }

  .project-headtitle {
    font-size: 1.5rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-body {
    font-size: 0.9rem;
  }
}


/* Contact */

.contact {
  margin-top: 15%;
  margin-bottom: 10%;
}

.contact-header {
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.contact-header h2 {
  font-size: 70px;
}

.contact-header p {
  color: #333333;
  font-size: 30px;
}

.email p {
  font-size: 60px;
  color: #000;
}

.social-header {
  text-decoration: underline;
}

.bi {
  font-size: 60px;
}

.list-inline-item.social {
  margin-right: 10px;
}

.list-inline-item.social a {
  text-decoration: none;
  color: inherit;
}

.list-inline-item.social a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact {
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .contact-header h2 {
    font-size: 40px;
  }

  .contact-header p {
    font-size: 20px;
  }

  .email p {
    font-size: 30px;
  }

  .bi {
    font-size: 40px;
  }

  .list-inline-item.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; /* Add some space between icons */
  }

  .list-inline-item.social a {
    font-size: 20px;
  }
}

/* Footer */

.footer {
  text-align: center;
  color: #333333;
}

.footer .text-muted {
  color: #333333 !important;
}

.footer-container {
  columns: #333333;
}
